<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="content">
        <h:form id="frmFormulario">
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" class="mensaje" />  
            <div class="notas">
                <p><em><strong>Bienvenido. </strong>#{formularioSintomasMB.usuarioRol.idUsuario.usuario}</em> </p>
            </div>
            <!--            <p:menu model="{formularioSintomasMB.menu.model}" rendered="{formularioSintomasMB.menuRendered}"/>-->
            <div class="ui-g-12 button-container">
                <p:commandButton rendered="#{formularioSintomasMB.botonRegresar}" icon="fa fa-arrow-left" actionListener="#{formularioSintomasMB.volverMenuPrincipal()}" id="btMenuVolverInicio" value="#{msg['button.regresar']}"  update=":frmFormulario" process="@this"/> 
            </div>           
            <div class="ui-fluid">
                <ui:include src="./../secciones/menuPrincipal.xhtml" rendered="#{formularioSintomasMB.menuRendered}"/>
                <ui:include src="./../secciones/registroSintomas.xhtml" rendered="#{formularioSintomasMB.formularioRendered}"/>
                <ui:include src="./../secciones/registroSintomasAdministrador.xhtml" rendered="#{formularioSintomasMB.formularioAdministradorRendered}"/>
                <ui:include src="./../secciones/registroEnviadosTabla.xhtml" rendered="#{formularioSintomasMB.formularioRegistroEnviados}"/>
                <ui:include src="./../secciones/registroEnvidosIndividual.xhtml" rendered="#{formularioSintomasMB.formularioTablaIndividualRendered}"/>
                <ui:include src="./../secciones/registroRecomendaciones.xhtml" rendered="#{formularioSintomasMB.formularioRecomendacionRendered}"/>
                <ui:include src="./../secciones/loginTipoUsuario.xhtml" rendered="#{formularioSintomasMB.loginTipoUsuarioRendered}"/>

                <ui:include src="./../secciones/registroEnviadosTablaAdministrador.xhtml" rendered="#{formularioSintomasMB.consultarRegistros || formularioSintomasMB.tablaSeguridad}"/>               
                <ui:include src="./../secciones/registroEnviadosTablaMenu.xhtml" rendered="#{formularioSintomasMB.tablaMenuPrincipalUsuario}"/>
                <ui:include src="./../secciones/registroEnviadosTablaAdministradorMenu.xhtml" rendered="#{formularioSintomasMB.tablaMenuPrincipalAdministardor}"/>

                <!--Cambio o insertar-->
                <ui:include src="./../secciones/cambioRolPersonasRegistradas.xhtml" rendered="#{formularioSintomasMB.menuManejoRolRedered}"/>

                <!--temperatura-->
                <ui:include src="./../secciones/registroTemperatura.xhtml" rendered="#{formularioSintomasMB.renderedTemperatura}"/>
                <ui:include src="./../secciones/registroIndividualTemperatura.xhtml" rendered="#{formularioSintomasMB.renderedTemperatura}"/>

                <!--activacion-->
                <ui:include src="./../secciones/registroActivacion.xhtml" rendered="#{formularioSintomasMB.rederedActivacion}"/>
            </div>
            <!--contrasena-->
            <div class="ui-fluid" style=" text-align: center;">
                <ui:include src="./../secciones/cambiarContrasena.xhtml" rendered="#{formularioSintomasMB.rederedContrasena}"/>
                <ui:include src="./../secciones/cambiarContrasenaAdministrador.xhtml" rendered="#{formularioSintomasMB.renderedActivarCambioContrasena}"/>
                <p:progressBar id="h" value="80" labelTemplate="{value}%" displayOnly="true" rendered="#{formularioSintomasMB.display}"/>
            </div>  
            <div class="ui-g-12 button-container">
                <ui:include src="./../secciones/botonesFormulario.xhtml"/>
            </div> 
        </h:form>
    </ui:define>
</ui:composition>