/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : cesar.chacon
*/
html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display:block;
    background-color: #48c9b0;
    font-family: 'Lato', sans-serif;
}
.main {
    background-color: #FFF;
}
.layout-main-content {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    padding: 1.5em;
    box-sizing:border-box;
}
.large-10{width:83.33333%}

.medium-10{width:83.33333%}

.small-10{width:83.33333%}

.columns{padding-left:0;
         padding-right:0}

.row{max-width:75rem;
     margin-left:auto;
     margin-right:auto}

.encabezadoi{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgba(224,224,224,1);
}
.large-3{width:25%}

.medium-4{width:33.33333%}

.encabezado {
             display:flexbox;
             flex-flow: row;
             flex-wrap: nowrap;
             background-color: #EEE;              
             margin-left: auto;
             margin-right: auto;
             max-width: 75rem;   
             justify-content: space-between;
             align-items: center;
}
.encabezado div, .encabezado h1 {
    display: flex;
}
.encabezado h1 {
    margin: auto auto auto 0;
    padding: auto;
    color: #333;
    width: auto;
    font-weight: 500;
    flex-basis:auto;
    font-size:1.4em;
}

.label {
    font-size: 20px;
    padding: 20px;
    font-family: arial, verdana;
    color: #000000;
}

h1, h2, h3{	
    line-height:100%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgba(1,1,1,1);	
    font-weight: 900;
    text-align: left;
    padding:1em 0em;
}

.numeral{
    text-align:center;
}

.numeral h4{
    width: 3rem;
    height: 3rem;    
    line-height:150%;
    background-color: rgba(33,146,160,1);    
    border-radius: 1.5rem;
    color: rgba(255,255,255,1);
    margin-left: 40%;
    margin-top: 2rem;	
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5);	
}


.containerProceso {
    /* Por defecto en modo fila, uno al lado del otro */
    display: flex;
    flex-flow: row;
}

#footer {
             display:flexbox;
             flex-flow: row;
             flex-wrap: nowrap;
             background-color: #222;              
             margin-left: auto;
             margin-right: auto;
             max-width: 75rem;   
             padding: 1em 1.5em;
             box-sizing: border-box;
             justify-content: space-between;
             align-items: center;
             color:#FFF;
}

.notas {
    font-family: sans-serif;
    font-size: 14px;
        
}

.dimencionLabel{
    
}

.dimencionFecha{
    
}

.dimesionesSeleccion{
    min-width: 240px !important;
}

/*body .ui-inputfield{
      min-width: 200px !important;
}*/

.dimencionLabel,.dimencionFecha{
     min-width: 230px !important;
}

.pruebaCentrado { width: 400px; height: 200px; left: 50%;
                  top: 50%;
                  margin: -100px 0 0 -100px; }

.mensaje{font-size: 8px}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {

    box-sizing: border-box;
    float: none!important;
    padding: 0.5em;
}

.labelNegrilla{
    font-weight: bold !important;
    font-size: 15px !important;
}

.ancho{
    min-width: 300px !important;
}

.ui-outputlabel .ui-outputlabel-rfi{
    margin-left: .4em !important;
    color: red !important;
    font-size: 20px !important;
}

