<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:panel id="panelContrasenaAdm" rendered="#{formularioSintomasMB.renderedActivarCambioContrasena}" header="Cambiar Contraseña" style="text-align: center; display: inline-block">
        <h:panelGrid  columns="3" cellpadding="1" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3">           
            <p:outputLabel for="itxIdentificacionInfPersonaladm" class="labelNegrilla" value="#{msg['label.identificacion']}"/>
            <p:inputText id="itxIdentificacionInfPersonaladm" class="dimencionLabel" value="#{formularioSintomasMB.identificacionContrasena}" required="true" />
            <p:tooltip style="font-size: 12px" for="itxIdentificacionInfPersonaladm">#{msg['label.identificacion']}</p:tooltip>
            <p:outputLabel for="pass1adm" class="labelNegrilla"  value="#{msg['label.nueva.contrasena']}"/>
            <p:password id="pass1adm" value="#{formularioSintomasMB.nuevaContrasena}" required="true" feedback="true" validatorMessage="Falta Contraseña"/>
            <p:tooltip style="font-size: 12px" for="pass1adm">#{msg['label.nueva.contrasena']}</p:tooltip>
            <p:outputLabel for="pass2adm" class="labelNegrilla"  value="#{msg['label.repetir.contrasena']}"/>
            <p:password id="pass2adm" value="#{formularioSintomasMB.confirmaContrasena}" required="true" feedback="true" validatorMessage="Falta Contraseña"/>
            <p:tooltip style="font-size: 12px" for="pass2adm">#{msg['label.repetir.contrasena']}</p:tooltip>                
            <p:commandButton action="#{formularioSintomasMB.cambiarContrasenaAdmin()}" value="#{msg['button.confirma.contraseña']}" update=":frmFormulario"></p:commandButton>
        </h:panelGrid>

    </p:panel>

</ui:composition>

