<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:panel id="panelContrasena" rendered="#{formularioSintomasMB.cambioContrasena}" header="Cambiar Contraseña" style="text-align: center; display: inline-block">
        <h:panelGrid  columns="3" cellpadding="1" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3">           
            <p:outputLabel for="pass1" class="labelNegrilla"  value="#{msg['label.nueva.contrasena']}"/>
            <p:password id="pass1" value="#{formularioSintomasMB.nuevaContrasena}" required="true" feedback="true" validatorMessage="Falta Contraseña"/>
            <p:tooltip style="font-size: 12px" for="pass1">#{msg['label.nueva.contrasena']}</p:tooltip>
            <p:outputLabel for="pass2" class="labelNegrilla"  value="#{msg['label.repetir.contrasena']}"/>
            <p:password id="pass2" value="#{formularioSintomasMB.confirmaContrasena}" required="true" feedback="true" validatorMessage="Falta Contraseña"/>
            <p:tooltip style="font-size: 12px" for="pass2">#{msg['label.repetir.contrasena']}</p:tooltip>                
            <p:commandButton action="#{formularioSintomasMB.cambiarContrasena()}" value="#{msg['button.confirma.contraseña']}" update=":frmFormulario"></p:commandButton>
        </h:panelGrid>

    </p:panel>

</ui:composition>

