<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:panelGrid  columns="2"  rendered="#{formularioSintomasMB.menuManejoRolRedered}" style="margin-top: 3%;" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank form-group">
        <p:dataTable id="tblseguridad" var="reg" value="#{formularioSintomasMB.listTablaManejoRol}"
                     paginator="true" rows="10" 
                     filteredValue="#{formularioSintomasMB.listTablaManejoRolFiltro}"  
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}" >


            <p:column  headerText="Identificación" filterBy="#{reg.idUsuario.identificacion}">
                <h:outputText value="#{reg.idUsuario.identificacion}" />
            </p:column>

            <p:column headerText="Nombre" filterBy="#{reg.idUsuario.usuario}">
                <h:outputText value="#{reg.idUsuario.usuario}" />
            </p:column>

            <p:column headerText="Email" filterBy="#{reg.idUsuario.email}">
                <h:outputText value="#{reg.idUsuario.email}" />
            </p:column>

            <p:column headerText="Usuario" exportable="false">
                <p:selectBooleanCheckbox value="#{reg.idUsuario.rolUsuario}" >                    
                    <p:ajax  listener="#{formularioSintomasMB.editarRolesPersona(reg,'Usuario')}" />
                </p:selectBooleanCheckbox>
            </p:column>

            <p:column headerText="Administrador" exportable="false">
                <p:selectBooleanCheckbox value="#{reg.idUsuario.rolAdministrador}" >                    
                    <p:ajax   listener="#{formularioSintomasMB.editarRolesPersona(reg,'Administrador')}" />
                </p:selectBooleanCheckbox>
            </p:column>

            <p:column headerText="Consulta" exportable="false">
                <p:selectBooleanCheckbox value="#{reg.idUsuario.rolConsulta}" >                    
                    <p:ajax  listener="#{formularioSintomasMB.editarRolesPersona(reg,'Consulta')}" />
                </p:selectBooleanCheckbox>
            </p:column>
        </p:dataTable>

    </p:panelGrid>


</ui:composition>
