<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="content">
        <h:form id="frmFormulario">
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" class="mensaje" />  
            <div class="ui-fluid">
                <p:panelGrid>
                    <div class="ui-g-12 " style="background: local;
                         justify-content: center;
                         text-align: center;
                         font-weight: bold;
                         font-size: large;">
                        <p>
                            #{mensaje['error.varias.encuestas']} 
                        </p>      
                    </div>
                </p:panelGrid> 
            </div>
            <div class="ui-g-12 button-container">
                <ui:include src="./../secciones/botonesFormulario.xhtml"/>
            </div> 
        </h:form>
    </ui:define>


</ui:composition>