<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
        <div class="notas">
            <p><em>Al enviar este formulario autorizo, expresamente y de manera voluntaria, a la Fundación Universitaria Konrad Lorenz para usar y manejar los datos que he suministrado, con propósitos académicos y según la siguiente 
                    <a href="http://www.konradlorenz.edu.co/es/informacion-institucional/nueva-imagen-institucional-2politicas-para-el-tratamiento-de-datos-personales.html" target="_blank" style="color:black;">política de tratamiento de datos personales.</a>  </em> </p>
        </div>
</ui:composition>