<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui">

    <div class="ui-fluid" style=" text-align: center;">
        <p:panel id="panelLogin"  rendered="#{formularioSintomasMB.loginTipoUsuarioRendered}" header="Elegir Rol" style="text-align: center; display: inline-block">
            <h:panelGrid  columns="#{formularioSintomasMB.columnasLoginTipoUsuario}" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3" style="margin: 0 auto;"  cellpadding="5" styleClass="showcase-text-align-center">
                <p:commandButton action="#{formularioSintomasMB.habilitarMenuUsuario('ADMINISTRADOR')}" value="#{msg['administrador']}" update=":frmFormulario" rendered="#{formularioSintomasMB.botonAdministrador}"/> 
                <p:commandButton action="#{formularioSintomasMB.habilitarMenuUsuario('USUARIO')}" value="#{msg['usuario']}" update=":frmFormulario" rendered="#{formularioSintomasMB.botonUsuario}" process="@this"/>
                <p:commandButton action="#{formularioSintomasMB.habilitarMenuUsuario('CONSULTA')}" value="#{msg['consulta']}" update=":frmFormulario" rendered="#{formularioSintomasMB.botonConsulta}" process="@this"/>
            </h:panelGrid>                               
        </p:panel>
    </div>
</ui:composition>
