<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui">

    <p:menubar rendered="#{formularioSintomasMB.menuRendered}">
        <p:submenu label="#{msg['menu.encuesta']}" icon="fa fa-pencil" rendered="#{!formularioSintomasMB.menuConsulta}">
            <p:menuitem value="#{msg['menu.subencuesta']}" action="#{formularioSintomasMB.habilitarFormularioCovid()}"  update=":frmFormulario" rendered="#{formularioSintomasMB.menuUsuario}"/>
            <p:menuitem value="#{msg['menu.subencuesta']}" action="#{formularioSintomasMB.habilitarRegistroEnviadosAdministrador()}"  update=":frmFormulario" rendered="#{formularioSintomasMB.menuAdministrador}"/>
        </p:submenu>

        <p:submenu label="#{msg['menu.registro']}" icon="fa fa-file">
            <p:menuitem value="#{msg['menu.subregistro']}" action="#{formularioSintomasMB.habilitarRegistroEnviados()}" update=":frmFormulario" rendered="#{formularioSintomasMB.menuUsuario}"/>
            <p:menuitem value="#{msg['menu.subconsulta']}" action="#{formularioSintomasMB.habilitarConsultarRegistros()}"  update=":frmFormulario" rendered="#{formularioSintomasMB.menuAdministrador || formularioSintomasMB.menuConsulta}" />
        </p:submenu>

        <p:submenu label="#{msg['menu.temperatura']}" icon="fa fa-pencil" rendered="#{formularioSintomasMB.menuConsulta}">
            <p:menuitem value="#{msg['menu.subtemperatura']}" action="#{formularioSintomasMB.habilitarTemperatura()}" update=":frmFormulario" rendered="#{formularioSintomasMB.menuConsulta}"/>
        </p:submenu>

        <p:submenu label="#{msg['menu.roles']}" icon="fa fa-pencil" rendered="#{formularioSintomasMB.menuAdministrador}">
            <p:menuitem value="#{msg['menu.subroles']}" action="#{formularioSintomasMB.habilitarEditarRoles()}" update=":frmFormulario" rendered="#{formularioSintomasMB.menuAdministrador}"/>
        </p:submenu>

        <p:submenu label="#{msg['menu.cambio.contrasena']}" icon="fa fa-pencil" rendered="#{formularioSintomasMB.menuAdministrador}">
            <p:menuitem value="#{msg['menu.cambio.contrasena']}" action="#{formularioSintomasMB.habilitarCambioContrasena()}" update=":frmFormulario" rendered="#{formularioSintomasMB.menuAdministrador}"/>
        </p:submenu>

        <p:submenu label="#{msg['menu.activacion']}" icon="fa fa-pencil" rendered="#{formularioSintomasMB.menuAdministrador || formularioSintomasMB.menuConsulta}">
            <p:menuitem value="#{msg['menu.activacion']}" action="#{formularioSintomasMB.habilitarActivacionPersonas()}" update=":frmFormulario" rendered="#{formularioSintomasMB.menuAdministrador || formularioSintomasMB.menuConsulta}">
            </p:menuitem>
        </p:submenu>


        <p:submenu label="#{msg['menu.contrasena']}" icon="fa fa-pencil" rendered="#{formularioSintomasMB.usuarioRol.idUsuario.tipoUsuario == 'X'}">
            <p:menuitem value="#{msg['menu.subContrasena']}" action="#{formularioSintomasMB.habilitarCambioContraseña()}" update=":frmFormulario"/>
        </p:submenu>

        <p:submenu label="#{msg['menu.salir']}" icon="fa fa-sign-out">
            <p:menuitem value="#{msg['menu.salir']}" action="#{formularioSintomasMB.salir()}"/>
            <p:menuitem value="#{msg['menu.cambiarRol']}" action="#{formularioSintomasMB.cambiarRolVista()}" update=":frmFormulario" rendered="#{formularioSintomasMB.variosRoles}"/>
        </p:submenu>
    </p:menubar>
</ui:composition>
