<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:panelGrid  columns="1" rendered="#{formularioSintomasMB.registroTemperatura}" columnClasses="ui-grid-col-12" layout="grid" style="margin-top: 3%;" styleClass="ui-panelgrid-blank form-group">
        <p:panel id="panelTemperatura" rendered="#{formularioSintomasMB.registroTemperatura}" header="Ingreso temperatura" style="text-align: center; display: inline-block">        
            <h:panelGrid  columns="3" cellpadding="5" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3">
                <p:outputLabel for="itxtemperatura" class="labelNegrilla"  value="#{msg['label.temperatura']}"/>
                <p:inputText id="itxtemperatura" required="true" value="#{formularioSintomasMB.temperaturaUsuario}"  validatorMessage="#{msg['error.temperatura']}"/>
                <p:tooltip style="font-size: 12px" for="itxtemperatura">#{msg['label.temperatura']}</p:tooltip>

                <p:commandButton action="#{formularioSintomasMB.guardarTemperatura()}" value="#{msg['button.guardar']}" update=":frmFormulario"></p:commandButton>
            </h:panelGrid>
        </p:panel>

        <p:dataTable id="tbleTemp" var="reg" value="#{formularioSintomasMB.tempRegistroTemperatura}"
                     paginator="true" rows="15" style="margin-bottom:20px"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"                   
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}">

            <p:column  headerText="Fecha Ingreso">
                <h:outputText value="#{reg.strDate}" />
            </p:column>

            <p:column headerText="Temperatura">
                <h:outputText value="#{reg.temperatura}" />
            </p:column>
        </p:dataTable>
    </p:panelGrid>

</ui:composition>
