<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panelGrid  columns="1" rendered="#{formularioSintomasMB.formularioRecomendacionRendered}" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank form-group" style="width:100%" >

        <h:column>
            <p><strong>#{msg['formulario.fecha.registro']}: </strong><h:outputText  value="#{formularioSintomasMB.fechaRegistro}" ><f:convertDateTime pattern="yyyy-MM-dd"/>  </h:outputText> </p>  
        </h:column>
        <h:column rendered="#{formularioSintomasMB.renderedNombreRecomendaciones}">
            <p><strong>#{msg['nombre.persona']}: </strong>#{formularioSintomasMB.nombreTablaIndividual}</p>  
        </h:column>
        <h:column>
            <p><strong>#{msg['formulario.riesgo']}: </strong><h:inputText style="background-color: #{formularioSintomasMB.colorRiesgo};width: 10%;" disabled="true"></h:inputText></p>    
        </h:column>

        <p:panelGrid rendered="#{formularioSintomasMB.recomendacionesRiesgo}">
            <p><em><strong>#{mensaje['recomendaciones.riesgo']}</strong></em></p>
        </p:panelGrid>
        <p:panelGrid rendered="#{formularioSintomasMB.recomendacionesNormal}">
            <p><em><strong>#{mensaje['recomendaciones.normal']}</strong></em></p>
        </p:panelGrid>

        <ui:repeat var="recomendacion" value="#{formularioSintomasMB.listEncabezadoRecomendaciones}">
            <p><strong>#{recomendacion.titulo}</strong></p>
            <ui:fragment rendered="#{formularioSintomasMB.opcionesMenuRecomendaciones(recomendacion.idEncabezadoPregunta)}"> 
                <p>
                    <ui:repeat var="opcionRecomendacion" value="#{formularioSintomasMB.listOpcionPintarRecomendaciones}">
                        <h:outputText value="#{opcionRecomendacion.enunciado}" escape="false" /> 
                        <br>
                        </br>
                    </ui:repeat>                     
                </p>
            </ui:fragment>

            <br/>
        </ui:repeat>

    </p:panelGrid>

</ui:composition>