<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:panelGrid  id="b" columns="1" rendered="#{formularioSintomasMB.formularioRendered}" columnClasses="ui-grid-col-12,ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank form-group" style="width:100%" >
        <p:panelGrid>
            <div class="ui-g-12 " style="background: local;
                 justify-content: center;
                 text-align: center;
                 font-weight: bold;
                 font-size: large;">
                <p>
                    <h:outputText value="#{formularioSintomasMB.nombreEncabezado}" escape="false" />
                </p>      
            </div>
        </p:panelGrid>
        <h:column>
            <h:panelGrid columns="2" cellpadding="3">
                <p:selectBooleanCheckbox value="#{formularioSintomasMB.autorizo}" >                    
                    <p:ajax update="growl" listener="#{formularioSintomasMB.addMessage}" />
                </p:selectBooleanCheckbox>
                <p>Si autorizo</p>
            </h:panelGrid>
        </h:column>

        <ui:repeat id="repeat" var="preguntas" value="#{formularioSintomasMB.listPreguntas}">
            <p><strong>#{preguntas.enunciado}</strong></p>
            <br/>
            <!--                multiple respuesta-->
            <ui:fragment rendered="#{formularioSintomasMB.opcionesFormulario(preguntas.tipoPregunta ,'M',preguntas.idPregunta)}"> 
                <p:selectManyCheckbox id="ManyPreguntas" requiredMessage="#{mensaje['formulario.error']}" value="#{formularioSintomasMB.respuestaMultiple}" layout="responsive" columns="1" required="true">
                    <f:selectItems value="#{formularioSintomasMB.listOpcionPintar}" var="p" itemValue="#{p.idOPcionPregunta}" itemLabel="#{p.descripcion}"/>
                    <p:ajax event="change" listener="#{formularioSintomasMB.guardarValor(preguntas)}"/>
                </p:selectManyCheckbox>
            </ui:fragment>
            <!--                respuesta unica-->
            <ui:fragment rendered="#{formularioSintomasMB.opcionesFormulario(preguntas.tipoPregunta ,'U',preguntas.idPregunta)}">
                <p:selectOneMenu  id="oneMenuPreguntas" requiredMessage="#{mensaje['formulario.error']}" value="#{formularioSintomasMB.respuestaValor}" required="true">
                    <f:selectItem itemLabel="Seleccione" noSelectionOption="true"></f:selectItem>
                    <f:selectItems value="#{formularioSintomasMB.listOpcionPintar}" var="p" itemValue="#{p.idOPcionPregunta}" itemLabel="#{p.descripcion}" ></f:selectItems>
                    <p:ajax event="change" listener="#{formularioSintomasMB.guardarValor(preguntas)}" update="panelOtraVinculacion panelCalendarioIngreso"/>
                </p:selectOneMenu>

                <p:panelGrid  id="panelOtraVinculacion" columns="3" >
                    <p:outputLabel for="otroVinculacion" rendered="#{formularioSintomasMB.otraVinculacion and preguntas.idPregunta.toString() eq '7'}" class="labelNegrilla" value="#{msg['label.otro.vinculacion']}"/>
                    <p:inputText id="otroVinculacion" value="#{formularioSintomasMB.guardarOtraVinculacion}" rendered="#{formularioSintomasMB.otraVinculacion and preguntas.idPregunta.toString() eq '7'}"/>
                    <p:tooltip style="font-size: 12px" for="otroVinculacion" rendered="#{formularioSintomasMB.otraVinculacion and preguntas.idPregunta.toString() eq '7'}">#{msg['tooltip.otro.vinculacion']}</p:tooltip>  
                </p:panelGrid>

                <p:panelGrid  id="panelCalendarioIngreso" columns="2" >
                    <p:outputLabel for="calendarioIngreso" rendered="#{formularioSintomasMB.renderedCalendarioFormulario and preguntas.idPregunta.toString() eq '8'}"><p><em><strong>#{msg['label.ingreso']}</strong></em></p></p:outputLabel>
                    <p:calendar id="calendarioIngreso" rendered="#{formularioSintomasMB.renderedCalendarioFormulario and preguntas.idPregunta.toString() eq '8'}" value="#{formularioSintomasMB.fechaIngresoUsuario}" mindate="#{formularioSintomasMB.fechaMinDate}" maxdate="#{formularioSintomasMB.fechaMaxDate}" />
                </p:panelGrid>

            </ui:fragment>

            <!--                respuesta abierta-->
            <ui:fragment rendered="#{formularioSintomasMB.opcionesFormulario(preguntas.tipoPregunta ,'A',preguntas.idPregunta)}">

            </ui:fragment>
            <!--                respuesta bianria-->
            <ui:fragment rendered="#{formularioSintomasMB.opcionesFormulario(preguntas.tipoPregunta ,'B',preguntas.idPregunta)}">

            </ui:fragment>

        </ui:repeat>

    </p:panelGrid>

</ui:composition>
