<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:panelGrid  columns="1" rendered="#{formularioSintomasMB.tablaMenuPrincipalUsuario}" columnClasses="ui-grid-col-12" layout="grid" style="margin-top: 3%;" styleClass="ui-panelgrid-blank form-group">
        <p:dataTable id="tble" var="reg" value="#{formularioSintomasMB.listTablaResultados}"
                     paginator="true" rows="15" style="margin-bottom:20px"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"                   
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}">

            <p:column  headerText="Identificación">
                <h:outputText value="#{reg.idUsuario.identificacion}" />
            </p:column>

            <p:column headerText="Nombre">
                <h:outputText value="#{reg.idUsuario.usuario}" />
            </p:column>

            <p:column headerText="Fecha Registro" >
                <h:outputText  value="#{reg.strDate}" /> 
            </p:column>

            <p:column headerText="Fecha Ingreso" >
                <h:outputText  value="#{reg.strDateFin}" /> 
            </p:column>
        </p:dataTable>
    </p:panelGrid>

</ui:composition>
