<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui">

    <p:panel id="panelLoginRegistroExternos" rendered="#{loginMB.registroExternosRendered}" header="Registro Externos" style="text-align: center; display: inline-block">
        <h:panelGrid  columns="3" cellpadding="1" styleClass="showcase" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3">
            <p:outputLabel for="itxNombres"  class="labelNegrilla" value="#{msg['label.nombres']}"/>
            <p:inputText id="itxNombres" validatorMessage="#{msg['error.nombre']}" value="#{loginMB.nombres}" required="true">
                <f:validateRegex pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" />
            </p:inputText>
            <p:tooltip style="font-size: 12px" for="itxNombres">#{msg['tooltip.nombres']}</p:tooltip>

            <p:outputLabel for="itxApellidos"  class="labelNegrilla" value="#{msg['label.apellidos']}"/>
            <p:inputText id="itxApellidos"  validatorMessage="#{msg['error.apellidos']}" value="#{loginMB.apellidos}" maxlength="30" required="true" >
                <f:validateRegex pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" />
            </p:inputText>
            <p:tooltip style="font-size: 12px" for="itxApellidos">#{msg['tooltip.apellidos']}</p:tooltip>

            <p:outputLabel for="itxTipoIdentificacion" value="#{msg['label.tipoIdentificacion']}" />
            <p:selectOneMenu id="itxTipoIdentificacion" value="#{loginMB.persona.tipoIdentificacionC.secTIpoIdentificacion}" required="true">
                <f:selectItem itemLabel="Seleccione" noSelectionOption="true" />
                <f:selectItem itemLabel="Cedula de Ciudadanía" itemValue="6" />
                <f:selectItem itemLabel="Tarjeta de identidad" itemValue="3" />
                <f:selectItem itemLabel="Cedula de Extranjería" itemValue="5" />
                <f:selectItem itemLabel="Pasaporte" itemValue="1" />
            </p:selectOneMenu>
            <br/>

            <p:outputLabel for="itxIdentificacionInfPersonal" class="labelNegrilla" value="#{msg['label.identificacion']}"/>
            <p:inputText id="itxIdentificacionInfPersonal" class="dimencionLabel" value="#{loginMB.persona.identificacion}" required="true" maxlength="30" />
            <p:tooltip style="font-size: 12px" for="itxIdentificacionInfPersonal">#{msg['label.identificacion']}</p:tooltip>

            <p:outputLabel for="itxEmail" class="labelNegrilla"  value="#{msg['label.email']}"/>
            <p:inputText id="itxEmail" required="true" value="#{loginMB.persona.email}" maxlength="80"  validatorMessage="#{msg['error.email']}" >
                <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
            </p:inputText>
            <p:tooltip style="font-size: 12px" for="itxEmail">#{msg['tooltip.email']}</p:tooltip>

            <h:outputText class="labelNegrilla" value="#{msg['label.contraseña']}" />
            <p:password id ="feedback" value="#{loginMB.persona.contrasena}" required="true" feedback="true" />
            <br/>

        </h:panelGrid>
        <p:commandButton rendered="#{loginMB.registroExternosRendered}" icon="fa fa-save" actionListener="#{loginMB.guardarRegistroExternos()}" id="btGuardarInformacion" value="#{msg['button.guardar']}" style="margin: 0 auto;"  update=":frmFormulario"/>
    </p:panel>


    <p:panel id="panelLoginIngreso" rendered="#{loginMB.ingresoExternosRendered}" header="#{msg['label.inicioSesion']}" style="text-align: center; display: inline-block">        
        <h:panelGrid  columns="3" cellpadding="5" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3">
            <p:outputLabel for="itxEmailIngreso" class="labelNegrilla"  value="#{msg['label.email']}"/>
            <p:inputText id="itxEmailIngreso" required="true" value="#{loginMB.persona.email}" maxlength="80"  validatorMessage="#{msg['error.email']}">
                <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
            </p:inputText>
            <p:tooltip style="font-size: 12px" for="itxEmailIngreso">#{msg['tooltip.email']}</p:tooltip>

            <h:outputText class="labelNegrilla" value="#{msg['label.contraseña']}" />
            <p:password id ="feedbackIngreso" value="#{loginMB.persona.contrasena}" required="true" feedback="true" validatorMessage="Falta Contraseña" />
            <br/>

        </h:panelGrid>
        <p:commandButton rendered="#{loginMB.ingresoExternosRendered}" icon="fa fa-sign-in" actionListener="#{loginMB.validarIngresoApp()}" id="btIngresoApp2" value="#{msg['button.ingresar']}"  update=":frmFormulario"/>
        <!--        <p:commandLink rendered="{loginMB.ingresoExternosRendered}"  action="{loginMB.olvidoContraseña()}" id="btOlvidoContraseña" update=":frmFormulario">
                    <h:outputText value="{msg['olvido.contraseña']}" />
                </p:commandLink> -->
    </p:panel>
</ui:composition>
