<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:panelGrid  columns="1"  rendered="#{formularioSintomasMB.tablaTemperatura}" style="margin-top: 3%;" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank form-group">
        <p:dataTable id="tbltemp2" var="reg" value="#{formularioSintomasMB.usuarioTemperatura}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                     paginator="true" rows="20" 
                     rendered="#{formularioSintomasMB.menuAdministradorOpcionUno}"
                     filteredValue="#{formularioSintomasMB.usuarioTemperaturaFiltro}"  
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}" >

            <p:column  headerText="Identificación" filterBy="#{reg.idUsuario.identificacion}">
                <h:outputText value="#{reg.idUsuario.identificacion}" />
            </p:column>

            <p:column headerText="Nombre" filterBy="#{reg.idUsuario.usuario}">
                <h:outputText value="#{reg.idUsuario.usuario}" />
            </p:column>


            <p:column headerText="Consultar y Guardar Temperatura" exportable="false">
                <p:commandButton action="#{formularioSintomasMB.mostrarRegistroGuardarTemperatura(reg.idUsuario)}" value="Ver" update=":frmFormulario"></p:commandButton>
            </p:column>
        </p:dataTable>

        <p:dataTable id="tbltemptres" var="reg" value="#{formularioSintomasMB.usuarioTemperatura}"
                     rendered="#{formularioSintomasMB.menuAdministradorOpcionDos}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                     paginator="true" rows="20" 
                     filteredValue="#{formularioSintomasMB.usuarioTemperautratemp}"  
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}" >

            <p:column  headerText="Identificación" filterBy="#{reg.idUsuario.identificacion}">
                <h:outputText value="#{reg.idUsuario.identificacion}" />
            </p:column>

            <p:column headerText="Nombre" filterBy="#{reg.idUsuario.usuario}">
                <h:outputText value="#{reg.idUsuario.usuario}" />
            </p:column>

            <p:column headerText="Consultar y Guardar Temperatura" exportable="false">
                <p:commandButton action="#{formularioSintomasMB.mostrarRegistroGuardarTemperatura(reg.idUsuario)}" value="Ver" update=":frmFormulario"></p:commandButton>
            </p:column>
        </p:dataTable>

    </p:panelGrid>

</ui:composition>
