<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:panelGrid  columns="1"  rendered="#{formularioSintomasMB.activarPersonas}" style="margin-top: 3%;" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank form-group">
        <p:dataTable id="tblactivacion" var="reg" value="#{formularioSintomasMB.personasTabla}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                     paginator="true" rows="15" 
                     filteredValue="#{formularioSintomasMB.personasTablaFiltro}"  
                     emptyMessage="#{mensaje['formulario.tabla.vacio']}" >
            
            <p:column  headerText="Tipo Identificación" filterBy="#{reg.idRespuesta.idUsuario.tipoIdentificacionC.codigo}">
                <h:outputText value="#{reg.idRespuesta.idUsuario.tipoIdentificacionC.codigo}" />
            </p:column>
            
            <p:column  headerText="Identificación" filterBy="#{reg.idRespuesta.idUsuario.identificacion}">
                <h:outputText value="#{reg.idRespuesta.idUsuario.identificacion}" />
            </p:column>

            <p:column headerText="Nombre" filterBy="#{reg.idRespuesta.idUsuario.usuario}">
                <h:outputText value="#{reg.idRespuesta.idUsuario.usuario}" />
            </p:column>

            <p:column headerText="Email" filterBy="#{reg.idRespuesta.idUsuario.email}">
                <h:outputText value="#{reg.idRespuesta.idUsuario.email}" />
            </p:column>

            <p:column headerText="Fecha Ingreso">
                <h:outputText  value="#{reg.idRespuesta.fechaFin}" /> 
            </p:column>

            <p:column headerText="Activación" exportable="false">
                <p:selectBooleanCheckbox value="#{reg.idRespuesta.procesadoBoo}" >                    
                    <p:ajax  listener="#{formularioSintomasMB.activarFichet(reg)}" update=":frmFormulario"/>
                    <p:poll interval = "30"  listener="#{formularioSintomasMB.listPersonasPActivar()}" update="tblactivacion" />
                </p:selectBooleanCheckbox>
            </p:column>
        </p:dataTable>

       
    </p:panelGrid>

</ui:composition>
